*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  display: flex;
  background: #ddd;
  min-height: 100vh;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.item{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


