*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background: #ddd;
  min-height: 100vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item{
  width: 200px;
  height: 200px;
  border: 1px solid #103;
  background: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


