*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    flex-basis: 100%;
    min-height: 100vh;
    background-color: #103;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.buttons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    

}

.buttonHeader{
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 14px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
    border-color: #fff;
    color: #fff;
}

.buttonHeader:hover{
    border-color: black;
}

/* imagens */

.logo-rock{
    width: 80px;
}

.logo-onebitcode{
    width: 400px;
}
